# Core app
Django==6.0.2
Pillow==12.1.1

# UI tooling
django-tailwind==4.4.2
pytailwindcss==0.3.0

# Deployment and production configuration
dj-database-url==2.3.0
gunicorn==23.0.0
psycopg-binary
whitenoise==6.8.2
